Repository Infisical/infisical, pull requests merged in 2024-03, with the labels that each got.

#1530 chore: added gpt based changelog generator
  .github/resources/changelog-generator.py
  .github/workflows/generate-release-changelog.yml
Labels: 💥 CI/CD, chore

#1534 fix(server): removed global aws cred config in secret integration
  backend/src/services/integration-auth/integration-sync-secret.ts
Labels: 🐞 bug, 🧨 backend

#1483 fix: truncate too long proj or org name
  frontend/src/components/navigation/NavHeader.tsx
  frontend/src/components/signup/UserInfoStep.tsx
  frontend/src/layouts/AppLayout/AppLayout.tsx
  frontend/src/pages/org/[id]/overview/index.tsx
  frontend/src/views/Settings/OrgSettingsPage/components/OrgNameChangeSection/OrgNameChangeSection.tsx
  frontend/src/views/Settings/ProjectSettingsPage/components/ProjectNameChangeSection/ProjectNameChangeSection.tsx
  frontend/src/views/Signup/components/UserInfoSSOStep/UserInfoSSOStep.tsx
Labels: 🐞 bug, 💻 code improvements

#1552 feat: multiple project role and temporary role support
  backend/package-lock.json
  backend/package.json
  backend/src/@types/knex.d.ts
  backend/src/db/migrations/20240312162549_temp-roles.ts
  backend/src/db/migrations/20240312162556_temp-role-identity.ts
  backend/src/db/schemas/identity-project-membership-role.ts
  backend/src/db/schemas/index.ts
  backend/src/db/schemas/models.ts
  backend/src/db/schemas/project-user-membership-roles.ts
  backend/src/db/seeds/3-project.ts
  backend/src/db/seeds/4-machine-identity.ts
  backend/src/ee/routes/v1/org-role-router.ts
  backend/src/ee/services/permission/permission-dal.ts
  backend/src/ee/services/permission/permission-service.ts
  backend/src/ee/services/permission/permission-types.ts
  backend/src/ee/services/permission/project-permission.ts
  backend/src/ee/services/secret-approval-request/secret-approval-request-service.ts
  backend/src/server/routes/index.ts
  backend/src/server/routes/v1/project-membership-router.ts
  backend/src/server/routes/v1/project-router.ts
  backend/src/server/routes/v2/identity-project-router.ts
  backend/src/services/identity-project/identity-project-dal.ts
  backend/src/services/identity-project/identity-project-membership-role-dal.ts
  backend/src/services/identity-project/identity-project-service.ts
  backend/src/services/identity-project/identity-project-types.ts
  backend/src/services/org/org-role-service.ts
  backend/src/services/project-membership/project-membership-dal.ts
  backend/src/services/project-membership/project-membership-service.ts
  backend/src/services/project-membership/project-membership-types.ts
  backend/src/services/project-membership/project-user-membership-role-dal.ts
  backend/src/services/project-role/project-role-service.ts
  backend/src/services/project/project-queue.ts
  backend/src/services/project/project-service.ts
  backend/src/services/secret-blind-index/secret-blind-index-service.ts
  frontend/src/components/v2/Popoverv2/Popoverv2.tsx
  frontend/src/hooks/api/identities/types.ts
  frontend/src/hooks/api/users/types.ts
  frontend/src/hooks/api/workspace/queries.tsx
  frontend/src/hooks/api/workspace/types.ts
  frontend/src/lib/fn/array.ts
  frontend/src/views/Project/MembersPage/MembersPage.tsx
  frontend/src/views/Project/MembersPage/components/IdentityTab/components/IdentitySection/IdentityRoles.tsx
  frontend/src/views/Project/MembersPage/components/IdentityTab/components/IdentitySection/IdentityTable.tsx
  frontend/src/views/Project/MembersPage/components/MemberListTab/MemberListTab.tsx
  frontend/src/views/Project/MembersPage/components/MemberListTab/MemberRoles.tsx
  frontend/src/views/Settings/ProjectSettingsPage/components/ProjectNameChangeSection/ProjectNameChangeSection.tsx
Labels: 🚀 feature request

#1539 Secret rotation for AWS IAM User
  backend/package-lock.json
  backend/package.json
  backend/src/ee/services/secret-rotation/secret-rotation-queue/secret-rotation-queue.ts
  backend/src/ee/services/secret-rotation/templates/aws-iam.ts
  backend/src/ee/services/secret-rotation/templates/index.ts
  backend/src/ee/services/secret-rotation/templates/types.ts
  docs/documentation/platform/secret-rotation/aws-iam.mdx
  docs/images/platform/secret-rotation/aws-iam/rotation-config-1.png
  docs/images/platform/secret-rotation/aws-iam/rotation-config-2.png
  docs/images/platform/secret-rotation/aws-iam/rotation-config-secrets.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-access-key-third-party.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-access-keys.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-attach-policy.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-create-access-key.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-create-policy.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-create-user.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-policy-review.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-user-review.png
  docs/images/platform/secret-rotation/aws-iam/rotation-manager-username.png
  docs/images/platform/secret-rotation/aws-iam/rotations-aws-iam-user.png
  docs/images/platform/secret-rotation/aws-iam/rotations-select-aws-iam-user.png
  docs/mint.json
  frontend/public/images/secretRotation/aws-iam.svg
  frontend/src/views/SecretRotationPage/SecretRotationPage.tsx
Labels: 🧨 backend

#1480 docs: improved secret rotation documentation with better understanding
  docs/documentation/platform/secret-rotation/mysql.mdx
  docs/documentation/platform/secret-rotation/postgres.mdx
  docs/documentation/platform/secret-rotation/sendgrid.mdx
  docs/images/secret-rotation/mysql-step1.png
  docs/images/secret-rotation/postgres-step1.png
  docs/images/secret-rotation/postgres-step2.png
  docs/images/secret-rotation/sendgrid-step1.png
  docs/images/secret-rotation/sendgrid-step2.png
Labels: 📑 documentation

#1627 feat: added dynamic secret to overview page
  frontend/src/hooks/api/dynamicSecret/index.ts
  frontend/src/hooks/api/dynamicSecret/queries.ts
  frontend/src/hooks/api/dynamicSecret/types.ts
  frontend/src/hooks/api/dynamicSecretLease/queries.ts
  frontend/src/hooks/api/dynamicSecretLease/types.ts
  frontend/src/views/SecretOverviewPage/SecretOverviewPage.tsx
  frontend/src/views/SecretOverviewPage/components/SecretOverviewDynamicSecretRow/SecretOverviewDynamicSecretRow.tsx
  frontend/src/views/SecretOverviewPage/components/SecretOverviewDynamicSecretRow/index.tsx
Labels: 👀 frontend

#1631 fix(server): resolved failing to use dynamic secret due to superuser
  backend/src/@types/fastify.d.ts
  backend/src/ee/routes/v1/dynamic-secret-lease-router.ts
  backend/src/ee/routes/v1/dynamic-secret-router.ts
  backend/src/ee/routes/v1/index.ts
  backend/src/ee/services/dynamic-secret-lease/dynamic-secret-lease-dal.ts
  backend/src/ee/services/dynamic-secret-lease/dynamic-secret-lease-queue.ts
  backend/src/ee/services/dynamic-secret-lease/dynamic-secret-lease-service.ts
  backend/src/ee/services/dynamic-secret-lease/dynamic-secret-lease-types.ts
  backend/src/ee/services/dynamic-secret/dynamic-secret-dal.ts
  backend/src/ee/services/dynamic-secret/dynamic-secret-service.ts
  backend/src/ee/services/dynamic-secret/dynamic-secret-types.ts
  backend/src/ee/services/dynamic-secret/providers/index.ts
  backend/src/ee/services/dynamic-secret/providers/models.ts
  backend/src/ee/services/dynamic-secret/providers/sql-database.ts
  backend/src/ee/services/secret-rotation/secret-rotation-queue/secret-rotation-queue-fn.ts
  backend/src/server/routes/index.ts
  backend/src/server/routes/v1/index.ts
  frontend/src/components/v2/Card/Card.tsx
  frontend/src/components/v2/Modal/Modal.tsx
  frontend/src/views/SecretMainPage/components/ActionBar/CreateDynamicSecretForm/CreateDynamicSecretForm.tsx
  frontend/src/views/SecretMainPage/components/ActionBar/CreateDynamicSecretForm/SqlDatabaseInputForm.tsx
  frontend/src/views/SecretMainPage/components/DynamicSecretListView/CreateDynamicSecretLease.tsx
  frontend/src/views/SecretMainPage/components/DynamicSecretListView/EditDynamicSecretForm/EditDynamicSecretSqlProviderForm.tsx
Labels: 🐞 bug
